html {
    background-color: #ecf7ff;

}

p {
    color: #4f91c4;
    font-family: "Chivo";
    line-height: 150%;
    font-size: 18px;
}

a {
    font-style: italic;
    color: #195481;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Shrikhand';
    font-weight: 50;
    font-size: 60px;
}

h2 {
    color: #4f91c4;
    text-align: center;
    font-family: 'Shrikhand';
    font-size: 30px;
}
  
img {
    width: 200px;
}

nav {
    min-height: 40px;
    line-height: 120%;
    margin: 10px;
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    font-family: "Chivo";
}

nav ul li {
    list-style-type: none;
    text-align: center;
    display: inline;
    margin: 15px;
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: #4f91c4;
}

nav ul li a:hover {
    color: black;
}

#toppage {
    background-image: linear-gradient(to right, #ef6bb3, #4f91c4);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

#upcoming ul {
    list-style-type: none;
    font-family: "Chivo";
    color: #4f91c4;
    line-height: 150%;
    padding-left: 0;
    color: #ef6bb3;
    font-size: 18px;
    padding: 25px;
    padding-top: 0px;
}

#upcoming h2 {
    color: #ef6bb3;
}

#contact h2, #contact p {
    color: #a267c4;
}

#upcoming, #contact{
    background: white;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    width: 300px;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
}

#about, #latestslides, #resources {
    background: white;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    width: 600px;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
}

#about p, #contact p {
    padding: 25px;
    padding-top: 0px;
}

#latestslides {
    font-family: "Chivo";
}
